/*couleurs*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: roboto;
}

/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px 0;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav img {
  height: 45px;
}
header nav .backtrack {
  position: absolute;
  font-size: 50px;
  left: 30px;
  top: 5px;
}
header nav .backtrack .fa-solid {
  color: #000000;
}
header .photo-restaurant img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

/*main*/
main {
  background-color: #e8e8e8;
  border-radius: 60px 60px 0 0;
  width: 100%;
  position: relative;
  margin-top: -60px;
}
main h1 {
  margin: 0;
  font-family: shrikhand;
  font-size: 28x;
  color: #000000;
  padding-top: 40px;
  padding-left: 90px;
}
main .favori {
  position: absolute;
  top: 45px;
  right: 40px;
  font-size: 40px;
}
main .favori:hover {
  color: #99e2d0;
  transform: scale(1.2);
  background-color: blue;
  -webkit-background-clip: text;
}

h2 {
  padding-left: 30px;
  align-self: flex-start;
  padding-top: 20px;
  margin: 0;
}
h2::after {
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  display: block;
  content: " ";
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding: 0;
}
.menu .menulist {
  background-color: #ffffff;
  border-radius: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.menu .menulist .menulist-items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-right: 20px;
}
.menu .menulist .menulist-items h3 {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menulist .menulist-items p {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menulist .menulist-items__price {
  font-weight: 700;
  font-size: 18px;
  margin-left: auto;
  padding-right: 20px;
}
.menu .menulist .menulist-items__transi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  height: 90px;
  width: 90px;
  margin-right: -90px;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  transition: margin-right 800ms;
}
.menu .menulist .menulist-items__transi .fa-solid {
  color: white;
  font-size: xx-large;
}
.menu .menulist:hover {
  cursor: pointer;
}
.menu .menulist:hover .menulist-items__transi {
  margin-right: 0;
}

/*bouton de commande*/
.bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bouton .bouton-order {
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  font-size: 35px;
  color: #ffffff;
  border: none;
  padding: 16px;
  box-shadow: 4px 4px 2px #ccc8c8;
  margin-bottom: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 300ms;
}
.bouton .bouton-order:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/*footer*/
footer {
  background-color: #46494c;
  color: #ffffff;
  font-family: roboto;
}
footer h4 {
  font-family: shrikhand;
  margin-left: 40px;
  font-size: 30px;
  margin-top: 30px;
}
footer ul {
  list-style: none;
  margin-bottom: 30px;
  font-size: 15px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li i {
  margin-right: 10px;
}
footer ul li a {
  color: #ffffff;
  font-family: roboto;
  text-decoration: none;
}