/*couleurs*/ /*CREATI0N DU LOADER*/
.loader-section {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  z-index: 1;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*ANIMATION*/
  animation: disappear 100ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.loader {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-spinner {
  border-radius: 160px;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  animation: spin 3s linear infinite;
}
.loader-spinner::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 4px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
  border-radius: 160px;
  animation: spinreverse 2s linear infinite;
}
.loader-spinner::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 3px solid transparent;
  border-top-color: #99e2d0;
  border-bottom-color: #99e2d0;
  border-radius: 160px;
  animation: spin 4s linear infinite;
}

/*CREATION DE L'ANIMATION*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes disappear {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
/*ANIMATION DU COEUR*/ /* creation menu deroulant*/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: roboto;
}

/* header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  box-shadow: 0px 6px 9px 0px rgba(185, 185, 185, 0.6705882353);
}
header img {
  height: 50px;
}

/*bouton de recherche*/
.recherche-lieu {
  display: flex;
  justify-content: center;
  background-color: rgba(105, 105, 105, 0.14);
  padding: 20px 15px;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.recherche-lieu .lieu {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  width: 150px;
}
.recherche-lieu .lieu:focus {
  outline: none;
}
.recherche-lieu .lieu::placeholder {
  color: #000000;
}

/*Description*/
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(180deg, white, rgb(239, 239, 239));
}
.description h1 {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 40px;
}
.description p {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
}
.description .description-button {
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  font-size: 20px;
  color: #ffffff;
  border: none;
  padding: 16px;
  box-shadow: 4px 4px 2px #ccc8c8;
  margin-bottom: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 300ms;
}
.description .description-button:hover {
  transform: scale(1.02);
  filter: brightness(1.2);
  box-shadow: 8px 8px 2px #acabab;
}

h2 {
  margin-left: 50px;
}

/*Fonctionnement*/
.step h2 {
  margin: 50px 0 30px 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.step-list {
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.26);
  border-radius: 20px;
  margin: 16px 0;
  font-weight: 700;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.step ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.step-list:hover {
  background-color: rgba(147, 86, 220, 0.2);
  cursor: pointer;
}

.step-list .fa-solid {
  color: gray;
  margin-right: 15px;
  margin-left: 40px;
}

.step-list:hover .fa-solid {
  color: #9356dc;
}

.step-list-num {
  background-color: #9356dc;
  color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 19px);
  left: -19px;
}

/*Liste des restaurants*/
.liste-restaurants {
  margin-top: 40px;
  background-color: #f2f2f2;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liste-restaurants h2 {
  margin-left: 50px;
  font-weight: 700;
  align-self: flex-start;
  text-transform: uppercase;
}
.liste-restaurants .liste-restaurant__cartes {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  align-items: center;
}
.liste-restaurants .liste-restaurant__cartes article {
  position: relative;
  width: 80%;
  margin-bottom: 60px;
}
.liste-restaurants .liste-restaurant__cartes article a {
  text-decoration: none;
  color: #000000;
}
.liste-restaurants .liste-restaurant__cartes article .nouveau {
  position: absolute;
  top: 15px;
  right: 12px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px;
}
.liste-restaurants .liste-restaurant__cartes article figure {
  border-radius: 30px;
  background-color: #ffffff;
  height: 270px;
  box-shadow: 5px 5px 5px #ccc8c8;
  position: relative;
  margin: 0;
}
.liste-restaurants .liste-restaurant__cartes article figure img {
  width: 100%;
  border-radius: 30px 30px 0 0;
  height: 200px;
  object-fit: cover;
}
.liste-restaurants .liste-restaurant__cartes article figure figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.liste-restaurants .liste-restaurant__cartes article figure figcaption h3 {
  font-size: 15px;
  font-family: roboto;
  margin: 0;
}
.liste-restaurants .liste-restaurant__cartes article figure figcaption p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 5px;
}
.liste-restaurants .liste-restaurant__cartes article .favori {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000000;
  -webkit-animation: all 100ms;
  animation: all 100ms;
}
.liste-restaurants .liste-restaurant__cartes article .favori:hover {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
  cursor: pointer;
}

/*footer*/
footer {
  background-color: #46494c;
  color: #ffffff;
  font-family: roboto;
}
footer h4 {
  font-family: shrikhand;
  margin-left: 40px;
  font-size: 30px;
  margin-top: 30px;
}
footer ul {
  list-style: none;
  margin-bottom: 30px;
  font-size: 15px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li i {
  margin-right: 10px;
}
footer ul li a {
  color: #ffffff;
  font-family: roboto;
  text-decoration: none;
}

/*mise en place media queries*/
@media screen and (min-width: 1024px) {
  .description {
    background-image: none;
    background-color: rgba(242, 242, 242, 0.8705882353);
  }
  h1 br,
p br {
    display: none;
  }
  .step {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(239, 239, 239);
  }
  .step h2 {
    margin: auto;
  }
  .step ol {
    flex-direction: row;
    margin: 0 30px;
    width: calc(100% - 30px);
  }
  .step ol .step-list {
    width: 33%;
    padding-left: 0;
    padding-right: 0;
    margin: 30px;
  }
  .liste-restaurants {
    padding: 0;
    margin: 0;
  }
  .liste-restaurants h2 {
    padding-top: 30px;
    margin: auto;
  }
  .liste-restaurants .liste-restaurant__cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: -webkit-fill-available;
  }
  .liste-restaurants .liste-restaurant__cartes article {
    width: 40%;
    margin: 40px;
  }
}