body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
/* header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  box-shadow: 0px 6px 9px 0px #b9b9b9ab;
}

header img {
  height: 68px;
}
/*main*/
/*bouton de recherche*/

.recherche_lieu {
  display: flex;
  justify-content: center;
  background-color: rgba(105, 105, 105, 0.14);
  padding: 20px 15px;
  font-size: 18px;
  color: #000000;
  font-family: roboto;
  font-weight: 600;
}
.lieu::placeholder {
  color: #000000;
}
.lieu {
  border: none;
  background-color: transparent;
}
.lieu {
  font-family: roboto;
  font-size: 20px;
  font-weight: 700;
}

/*Description*/

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(180deg, white, rgb(239, 239, 239));
}
h1 {
  font-size: 25px;
  font-family: roboto;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 40px;
}

.description p {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: roboto;
}

.explorer {
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  font-size: 20px;
  color: #ffffff;
  font-family: roboto;
  border: none;
  padding: 16px;
  box-shadow: 4px 4px 2px #ccc8c8;
  margin-bottom: 50px;
  margin-top: 30px;
}

/*Fonctionnement*/

.fonctionnement h2 {
  margin: 50px 0 30px 50px;
  font-weight: 700;
  font-family: Roboto;
}

.etapes {
  padding: 20px;
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.26);
  border-radius: 20px;
  margin: 16px 0;
  font-family: roboto;
  font-weight: 700;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.etapes:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.etapes .fa-solid {
  color: gray;
  margin-right: 15px;
  margin-left: 40px;
}
.etapes:hover .fa-solid {
  color: #9356dc;
}

.liste {
  background-color: #9356dc;
  color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 19px);
  left: -19px;
}

/*Liste des restaurants*/

.liste_restaurants {
  margin-top: 40px;
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}

.liste_restaurants h2 {
  margin-left: 50px;
  font-weight: 700;
  font-family: roboto;
  align-self: flex-start;
}
article {
  position: relative;
  width: 80%;
  margin-bottom: 60px;
}
figure {
  border-radius: 30px;
  background-color: #ffffff;
  height: 270px;
  box-shadow: 5px 5px 5px #ccc8c8;
  position: relative;
  margin: 0;
}

figure img {
  width: 100%;
  border-radius: 30px 30px 0 0;
  height: 200px;
  object-fit: cover;
}

figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

figcaption h3 {
  font-size: 15px;
  font-family: roboto;
  margin: 0;
}

figcaption p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  margin-top: 5px;
}

.favori {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/*footer*/
.infos {
  background-color: #46494c;
  color: #ffffff;
  font-family: roboto;
}

footer h4 {
  font-family: shrikhand;
  margin-left: 40px;
  font-size: 30px;
  margin-top: 30px;
}

footer ul {
  list-style: none;
  margin-bottom: 30px;
  font-size: 15px;
}

footer li {
  margin-bottom: 10px;
}

li i {
  margin-right: 10px;
}
