@import "../variables";
@import "../../animations/_heart";
@import "../../animations/appears";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: roboto;
}

/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 12px;

  nav {
    display: flex;
    justify-content: center;

    img {
      height: 40px;
      margin: 15px;
    }

    .backtrack {
      position: absolute;
      font-size: 20px;
      left: 40px;
      top: 25px;

      .fa-solid {
        color: $colorscript-dark;
      }
    }
  }

  .photo-restaurant img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}

/*main*/

main {
  background-color: $main-backcolor;
  border-radius: 60px 60px 0 0;
  width: 100%;
  position: relative;
  margin-top: -60px;

  h1 {
    margin: 0;
    font-family: shrikhand;
    font-size: 25Px;
    color: #000000;
    padding-top: 40px;
    padding-left: 27px;
  }

  .favori {
    position: absolute;
    top: 40px;
    right: 55px;
    font-size: 40px;
    @include heart;
  }

  h2 {
    padding-left: 30px;
    align-self: flex-start;
    padding-top: 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;



    &::after {
      width: 35px;
      height: 4px;
      background-color: #99e2d0;
      display: block;
      content: " ";
    }
  }

  .restau-menu {
    padding-top: 20px;

    #entrees .menu {
      opacity: 0;
      -webkit-animation: appears 1s linear forwards;
      animation: appears 1s linear forwards;
      -webkit-animation-delay: 0.75s;
      animation-delay: 0.75s;

    }

    #plats .menu {
      opacity: 0;
      -webkit-animation: appears 1s linear forwards;
      animation: appears 1s linear forwards;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;

    }

    #desserts .menu {
      opacity: 0;
      -webkit-animation: appears 1s linear forwards;
      animation: appears 1s linear forwards;
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s;
    }
  }
}




.menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding: 0;


  .menulist {
    background-color: $colorscript-light;
    border-radius: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    overflow: hidden;


    .menulist-items {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-right: 20px;

      h3 {
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 15px;
        font-weight: 700;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      p {
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 20px;
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .menulist-items__price {
      font-weight: 700;
      font-size: 18px;
      margin-left: auto;
      padding-right: 20px;
    }

    .menulist-items__transi {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      height: 90px;
      width: 90px;
      margin-right: -90px;
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transition: margin-right 800ms;

      .fa-solid {
        color: white;
        font-size: xx-large;
      }
    }

    &:hover {
      cursor: pointer;

      .menulist-items__transi {
        margin-right: 0;

        .fa-solid {
          transform: rotate(360deg);
          transition: 800ms ease-in-out;
        }
      }
    }
  }
}

/*bouton de commande*/
.bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .bouton-order {
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, $pink, $purplue);
    font-size: 35px;
    color: $colorscript-light;
    border: none;
    padding: 16px;
    box-shadow: 4px 4px 2px $shadow;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 250ms ease 0ms;

    &:hover {
      transform: scale(1.02);
      box-shadow: 8px 8px 2px #acabab;
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2)
    }

  }
}



@import "../footer";

/*mise en place des medias queries*/
@media screen and (min-width: 1024px) {
  .restau-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: -webkit-fill-available;

    h2 {

      justify-content: center;
    }

    #entrees,
    #plats,
    #desserts {
      width: 33%;
    }

    .menulist-items {
      width: 75%;

    }
  }
}