@import "css\styles\_variables.scss";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: roboto;
}

/*header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px 0;
  nav {
    display: flex;
    justify-content: center;
    img {
      height: 68px;
    }
    .backtrack {
      position: absolute;
      font-size: 50px;
      left: 30px;
      top: 21px;
      .backtrack .fa-solid {
        color: #000000;
      }
    }
  }
}

/*main*/

main {
  background-color: $main-backcolor;
  border-radius: 60px 60px 0 0;
  width: 100%;
  position: relative;
  margin-top: -60px;

  .favori {
    position: absolute;
    top: 45px;
    right: 40px;
    font-size: 40px;
  }

  h2 {
    padding-left: 30px;
    align-self: flex-start;
    padding-top: 20px;
    border-bottom: 3px solid blue;
  }
  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding: 0;

    li {
      background-color: $colorscript-light;
      border-radius: 15px;
      width: 80%;
      display: flex;
      position: relative;

      h3 {
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 15px;
        font-weight: 700;
        font-size: 20px;
      }

      p {
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 20px;
        font-size: 16px;
      }
    }
    .menulist-items__price {
      position: absolute;
      top: 35px;
      right: 35px;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
/*bouton de commande*/
.bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .bouton-order {
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, $pink, $purplue);
    font-size: 35px;
    color: $colorscript-light;
    border: none;
    padding: 16px;
    box-shadow: 4px 4px 2px $shadow;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
  }
}
@import "css\styles\_footer.scss";
