/* creation menu deroulant*/
@mixin appears-menu__delay0 {
  animation: appears;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;

  @keyframes appears-menu {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin appears-menu__delay1 {
  animation: appears;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 500ms;

  @keyframes appears {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin appears-menu__delay2 {
  animation: appears;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 1000ms;

  @keyframes appears {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
