/*ANIMATION DU COEUR*/
@mixin heart {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000000;
  -webkit-animation: all 100ms;
  animation: all 100ms;

  &:hover {
    background-image: linear-gradient(to bottom right, $pink, $purplue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: transparent;
    cursor: pointer;
  }
}