/*CREATI0N DU LOADER*/

.loader-section {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  z-index: 1;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*ANIMATION*/
  animation: disappear 100ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}
.loader {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-spinner {
  border-radius: 160px;
  border: 6px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  animation: spin 5s linear infinite;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 4px solid transparent;
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
    border-radius: 160px;

    animation: spinreverse 3s linear infinite;
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 3px solid transparent;
    border-top-color: #99e2d0;
    border-bottom-color: #99e2d0;
    border-radius: 160px;

    animation: spin 5s linear infinite;
  }
}
/*CREATION DE L'ANIMATION*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
